// Row
//
// Rows contain your columns.

@if $enable-grid-classes {
  %row {
    @include make-row();
  }

  @if $enable-css-output {
    .es-row {
      @extend %row;
    }
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  %no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .es-col,
    > [class*="es-col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @if $enable-css-output {
    .es-no-gutters {
      @extend %no-gutters;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns

@if $enable-grid-classes {
  @include make-grid-columns();
}
